.git
.gitignore
.idea
.pytest_cache
.venv
**/__pycache__/
**/*.pyc
**/*.pyo

artifacts/
_tmp_meds_etl/

*.pt
*.parquet
*.parquet.gz
*.csv.gz
*.tar
*.tar.gz
*.tar.zst
*.sqsh
*.sha256

slurm-*.out
slurm-*.err
log_*.out
log_*.err
